@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(23,23,23);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

/* index.css */
@keyframes reveal-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal {
  /* Ye property ensure krti h ki animation scroll k sath trigger ho */
  view-timeline-name: --item-reveal;
  view-timeline-axis: block;
  animation: reveal-up linear both;
  animation-timeline: --item-reveal;
  /* Jab element screen k 10% entry pr ho tab start ho aur 40% pr khatam */
  animation-range: entry 25% cover 40%;
}

/* index.css */

/* Texture overlay for that "Premium" paper look */
#home::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.15;
  filter: contrast(150%) brightness(100%);
  pointer-events: none;
}
.group:hover span {
    transform: translate(0%, -5px);
}